<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
     <div class="judul-dul text-center"><h1>{{ movie_details.title }} ({{ movie_details.release_date | date:"yyyy" }})</h1></div>
    <div class="col-md-1"></div>
    <div class="col-md-10">
   
      <a href="#"
        ><button
          class="btn btn-default search_again"
          type="button"
          name="button"
        >
          Search Again...
        </button></a
      >
    </div>
   <br> <br>
    <div class="col-md-1"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    
      <div class="col-md-6">
       <div class="cap text-center">Description Generate</div>
        <!-- ACTOR -->
      <img ng-repeat="actor in credits_details.casts.cast | limitTo:15" ng-if="actor.profile_path" src="https://image.tmdb.org/t/p/w780{{actor.profile_path}}" class="cast-avatar" alt="{{actor.name}}" title="Name: {{actor.name}} Character: {{actor.character}}"/>

      <!-- <div ng-repeat="directing in credits_details.credits.crew">
        {{directing.name}}
      </div> -->
          <!-- ACTOR END -->
     
      <div class="desc-gen">
      <!-- DESCRIPTION -->
      <h4>{{ movie_details.title }}™  {{ movie_details.release_date | date:"yyyy" }},
      {{ movie_details.tagline }}</h4>
      <h4>{{ movie_details.overview | limitTo:128}}... {{ movie_details.original_title }}</h4>
      <br>
      ✧ 𝐅𝐮𝐥𝐥 𝐌𝐨𝐯𝐢𝐞 𝐇𝐃 ✧ 👉 https://youtube.com/redirect?q=YOUR-URL &nbsp;&nbsp;&nbsp;(If this link doesn't work, check in comment section)
      <br>
       <br>
      <div>HD 1080P | 4K UHD | 1080P-HD | 720P HD | MKV | MP4 | FLV | DVD |</div>
<div>All Languages | Belgium | English | Spanish | Franch | German | Italiano |Dutch |Portuguese |</div>
<div>Copyright Disclaimer Under Section 107 of the Copyright Act 1976, allowance is made for ""fair use"" for purposes such as criticism, comment, news reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright statute that might otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair use. No copyright infringement intended.</div>
<br>
<div class="tag-line">
  <div style="text-transform: capitalize;text-decoration: underline;">Keywords :</div>
      <div> {{movie_details.original_language}}</div>
      <div ng-repeat="sbahasa in movie_details.spoken_languages">
      Language : {{ sbahasa.name}}</div>
      
      <div ng-repeat="actor in credits_details.casts.cast | limitTo:4">{{actor.name}} is {{actor.character}}</div>
               
      
      <div ng-repeat="pcountry in movie_details.production_countries">
        {{ movie_details.title }}  Full Movie <span ng-repeat="sbahasa in movie_details.spoken_languages">
      in {{ sbahasa.name}}</div>
      <div ng-repeat="pcountry in movie_details.production_countries">
        {{ movie_details.title }}  Movie <span ng-repeat="sbahasa in movie_details.spoken_languages">
      Status {{movie_details.status}} in {{ sbahasa.name}}</div>
      <div ng-repeat="pcountry in movie_details.production_countries">
        {{ movie_details.title }} {{pcountry.iso_3166_1}} {{  movie_details.release_date | date:"yyyy" }} Full Movie</div>
      <div ng-repeat="pcountry in movie_details.production_countries">
        {{ movie_details.title }}  Full {{movie_details.original_language}} Dubb Movie</div>
        <div ng-repeat="pcountry in movie_details.production_countries">
        {{ movie_details.title }}  Full {{movie_details.original_language}} Sub Movie</div>
        <div ng-repeat="pcountry in movie_details.production_countries" >
          {{ movie_details.title }} {{ movie_details.release_date | date:"yyyy" }} {{pcountry.name}} production </div>
        <div ng-repeat="network in movie_details.production_companies">
          {{ movie_details.title }} {{ movie_details.release_date | date:"yyyy" }} {{network.name}} Full Movie </div>
        <div ng-repeat="network in movie_details.production_companies">
          {{ movie_details.title }} Full Movie {{ movie_details.release_date | date:"yyyy" }} {{network.name}} </div>
        <div> {{ movie_details.title }} Movie Budget : {{ movie_details.budget | currency }}</div>
         <div> {{ movie_details.title }} Movie revenue : {{movie_details.revenue | currency}}</div>
        <div> {{ movie_details.title }} Release date: {{ movie_details.release_date | date:"fullDate" }} </div>
        <div>  {{ movie_details.title }} Movie rating IMDB : Star {{ movie_details.vote_average }}/10 by {{movie_details.vote_count}} user</div>
        <div ng-repeat="pcountry in movie_details.production_countries">
        {{ movie_details.title }}  Full Movie <span ng-repeat="sbahasa in movie_details.spoken_languages">
      Duration {{ movie_details.runtimes }}</div>
        <div> {{ movie_details.title }} Full Movie Runtime: {{ movie_details.runtime }} minutes </div>
        <div> {{ movie_details.title }} Movie Popularity: {{ movie_details.popularity | number:2 }} </div>
        <div ng-repeat="genre in movie_details.genres">
          {{ movie_details.title }} {{ movie_details.release_date | date:"yyyy" }} {{ genre.name }} full Movie </div>
          <br>
        <div ng-show="movie_details.homepage">
          <span style="text-transform: capitalize;text-decoration: underline;">Official Website </span>: {{ movie_details.homepage }} </div>
          <br>

          <div style="text-transform: capitalize;text-decoration: underline;">Tag :</div>
          <div>#{{ movie_details.title }}</div>
          <div>#{{ movie_details.original_title }}</div>
          <div>#1on_trending</div>
          <div>#1trendingvideo</div>
          <div>#movie</div>
          <div>#fullmovie</div>
          <div>#1ontrending</div>
    </div>      
         <!-- DESCRIPTION END -->
           </div>
         
    
      <div class="col-md-1"></div>
    </div>

    <div class="col-md-4">
       <div class="url-img text-center">
      <a ng-show="movie_details.homepage" href="https://image.tmdb.org/t/p/w780/{{ movie_details.backdrop_path }}">
        <img
          class="img-responsive thumbnail"
          ng-src="https://image.tmdb.org/t/p/w400/{{ movie_details.backdrop_path }}"
          alt=""
        />
        
      </a>
      <img
        ng-hide="movie_details.homepage"
        class="img-responsive thumbnail"
        ng-src="https://image.tmdb.org/t/p/w400/{{ movie_details.backdrop_path }}"
        alt="{{ movie_details.title }}"/>
     <textarea class="form-control">
https://image.tmdb.org/t/p/w780/{{ movie_details.backdrop_path }}
https://image.tmdb.org/t/p/w1280/{{ movie_details.backdrop_path }}</textarea>
    </div>
       <br>
      <div class="cap text-center">Title Generate</div>
      
       <div class="title-gen">
        <!-- TITLE -->
      
     <div> {{ movie_details.title }} Full Movie </div>
     <div ng-repeat="pcountry in movie_details.production_countries">
        {{ movie_details.title }} {{pcountry.iso_3166_1}} {{  movie_details.release_date | date:"yyyy" }} Full Movie</div>
         <!-- TITLE END -->
      </div>
      <!-- IMG ALL -->
      <div class="mdl-grid">
            <div class="col-md-6 text-center" ng-repeat="back_drop in movie_details.backdrops_path" style="padding: 5px 0;
">
<a ng-show="movie_details.homepage" href="https://image.tmdb.org/t/p/w780/{{back_drop.file_path}}">
                <img style="max-width:100%;" ng-src="https://image.tmdb.org/t/p/w185{{back_drop.file_path}}" alt="" /></a>
            </div>
        </div>
        <!-- IMG ALL -->

        
       </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <hr />
        <h3>Recommended Movies</h3>
      </div>
      <div class="col-md-1"></div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="flex_parent recommended_movies">
          <div ng-repeat="movie in recommended_movies">
            <a ui-sref="movie({id: movie.id})">
              <!-- This performs something similar to the $state.go(...) code -->
              <img
                class="movie_poster"
                ng-if="movie.poster_path"
                ng-src="https://image.tmdb.org/t/p/w154/{{ movie.poster_path }}"
                alt="{{ movie.title }} poster"
                title="{{ movie.title }} "
              />
            </a>
            <div class="now-play">{{ movie.title}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <!-- /.row -->
  </div>
</div>
